<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- IMU Link -->

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <!-- Adjust xyz to match the physical placement of the BNO055 on your robot -->
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.02 0.02 0.005"/>
            </geometry>
            <material name="green"/>
        </visual>
    </link>

</robot>
