<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<joint name="laser_joint_rear" type="fixed">
    <parent link="base_link"/>
    <child link="laser_frame_rear"/>
    <origin xyz="-0.172 0 0.2" rpy="0 0 ${0 * pi / 180}"/>   
</joint>

<link name="laser_frame_rear">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder length="0.05" radius="0.02"/>
        </geometry>
        <material name="red"/>
    </visual>
</link>

</robot>